<div>
	<ul id="messages"></ul>
	<form action="">
	  <input id="m" autocomplete="off" /><button>Send</button>
	</form>
	<script>
		var socket = io();
		$('form').submit(function(){
			socket.emit('chat message', $('#m').val());
			$('#m').val('');
			return false;
		});
		
		socket.on("connect", function(data){
			$('#messages').append($('<li>').text("Connected to ChatShatting"));
			var nickname = prompt("Please enter your name: ");
			
			socket.emit("join", nickname);
		});
		
		socket.on('chat message', function(msg){
			$('#messages').append($('<li>').text(msg));
		});
	</script>
</div>
